<div class="scrollbar">
    <header>
        <app-navbar></app-navbar>
    </header>
        <div>
            <h2>Fantasy Travel App</h2>
            <p> Fantasy Travel was a project I worked on at my last job opportunity where I had the pleasure of working with 
                3 nice and talented people.  The program is designed to be like a travel site that gives information such as,
                weather and a short description of the travel destination, but for places from say Star Wars for example. It is 
                C#/.NET based that used a DB that was hosted on Azure and ADO.NET to send data back and forth. It used the National
                Weather Service's public API to gather the weather information we needed.
            </p>
            <img src="../../assets/P2.jpg" alt="FantasyTravel-app" style="height: auto; width: auto;">
        </div>
        <a href="https://github.com/ssams01/TeamOmegaP2">
            <button class="rounded-2" style="margin-bottom: 20pt; background-color: blue; color: white;">Click here to view project</button>
        </a>
      
        <div id="Lit">
            <h2>Lit - Book API</h2>
            <p>Lit the Book API was another project I had the pleasure of working on at Revature, though this time with a group of 8
                people!  Here me and my team, took a pre-existing application and added/changed the project to meet our needs. So what 
                we ended up doing was added a more complete backend that utilized EF Core instead of ADO.NET this time to communicate with
                a DB instance, and a Angular based frontend was created.  
            </p>
            <img src="../../assets/P3.jpg" alt="FantasyTravel-app" style="max-width: 50%; height: 300pt; width: auto; margin: 0 auto;">
        </div>
        <a href="https://github.com/ssams01/Team-Omega-Green">
            <button class="rounded-2" style="margin-bottom: 5pt; background-color: blue; color: white;">Click here to view project</button>
        </a>
    
</div>

