<div class="scrollbar">
    <header>
        <app-navbar></app-navbar>
    </header>
        <div>
            <h2>Fantasy Travel App</h2>
            <p>This section might be a smidge trickier, but it all depends on how I will end up wanting to display the descriptions
                of each project I will be displaying and the still image from them (or whatever I use to represent them, the reason
                I mention that one is because due to me not being able to run the P2 properly, I will only be able to show maybe our menu
                which I suppose isn't bad).  Include 3 here if possible, but just 2 isn't bad either -- for now.
            </p>
            <img src="../../assets/P2.jpg" alt="FantasyTravel-app" style="height: auto; width: auto;">
        </div>
        <a href="https://github.com/ssams01/TeamOmegaP2">
            <button class="rounded-2" style="margin-bottom: 20pt; background-color: blue; color: white;">Click here to view project</button>
        </a>
      
        <div id="Lit">
            <h2>Lit - Book Api</h2>
            <p>In place of this generic description will hold the description I give of the Lit app or well the synopsis of what went
                on during the project and why it was significant -- I think the former due to meaning more probably 
            </p>
            <img src="../../assets/P3.jpg" alt="FantasyTravel-app" style="max-width: 50%; height: 300pt; width: auto; margin: 0 auto;">
        </div>
        <a href="https://github.com/ssams01/Team-Omega-Green">
            <button class="rounded-2" style="margin-bottom: 5pt; background-color: blue; color: white;">Click here to view project</button>
        </a>
    
</div>

