button {
    margin-bottom: 5pt;
    margin-top: 20pt; 
    background-color: blue;
    color: white;
}

div {
    text-align: center;
    margin-bottom: 25pt;
}

header {
    margin-bottom: 15pt;
}

.project {
    display: inline-block;
    max-width: 57%; 
    word-wrap: break-word; 
    text-align: left; 
}

.project-nontext {
    text-align: center;
}

.scrollbar {
    max-height: 100vh;
    overflow-y: auto;
} 

