<header>
   <app-navbar></app-navbar>
</header>

<!-- Since we already have actual content here, I am just going to write out the description of what I am thinking
here.  I would want to include an image of myself probably and then redo the description a bit to paint a better 
summary of who I am.  Also maybe include the footer in every component? I don't think so, but just a thought-->

<h1>Welcome!</h1>
<p>My name is Stephen Sams, here is a still in progress website where I will be adding information about me.
  This will include things like Projects, links to github and linked in,etc.
  Thank you for checking it out!
<img src="../../assets/me.jpg" alt="stephen-sams" style="height: 300pt; width: 200pt;">
  
</p>
<footer>
  <a href="https://www.linkedin.com/in/stephen-sams-ba9700238/"><img src="../../assets/linkedin.png" alt="linkedin"></a>
  <a href="https://github.com/ssams01"><img src="../../assets/github.png" alt="github"></a>
</footer>