<header>
  <app-navbar></app-navbar>
</header>

<h1>Welcome!</h1>

<div class="content-container">
 <div class="text-container">
   <h2>My name is Stephen...</h2>
   <h4>
     I am currently searching for a job in software development/engineering and I currently
     live in Daytona Beach, Florida.  I recently graduated from Clemson University with a 
     Bachelors of Science with a Major of Computer Information Systems.  When I'm not working
     on a professional or personal project, I like to collect and listen to vinyl records, cook, bake,
     play basketball, and watch TV. 
   </h4>
 </div>
 <div class="image-container">
   <img src="../../assets/me1.png" alt="stephen-sams" class="propic-align">
 </div>
</div>

<footer>
 <h5>Please connect with me through: </h5>
 <a href="https://www.linkedin.com/in/stephen-sams-ba9700238/"><img src="../../assets/linkedin.png" alt="linkedin"></a>
 <a href="https://github.com/ssams01"><img src="../../assets/github.png" alt="github"></a>
</footer>
