<header>
   <app-navbar></app-navbar>
</header>


<h1>Welcome!</h1>
<p>My name is Stephen Sams, here is a still in progress website where I will be adding information about me.
  This will include things like Projects, links to github and linked in,etc.
  Thank you for checking it out!
  
</p>
<footer>
  <a href="https://www.linkedin.com/in/stephen-sams-ba9700238/"><img src="../../assets/linkedin.png" alt="linkedin"></a>
  <a href="https://github.com/ssams01"><img src="../../assets/github.png" alt="github"></a>
</footer>