footer > a > img {
    height: 50pt;
    width: 70pt;
}

.content-container {
    display: flex;
}

.text-container {
    flex: 1;
    max-width: 300px; /* Adjust max-width as needed */
    word-wrap: break-word;
    margin-right: 20px; /* Adjust margin as needed */
}

.image-container {
    margin-left: 20px; /* Adjust margin as needed */
}

.propic-align {
    border: 2px solid white;
    border-radius: 50%;
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
}

