.scrollbar {
    max-height: 100vh;
    overflow-y: auto;
}

div {
    text-align: center;
    margin-bottom: 18pt;
}

.left-text {
    display: inline-block;
    max-width: 57%; 
    word-wrap: break-word; 
    text-align: left; 
}

.center-nontext {
    text-align: center;
}

.center-nontext img {
    margin-right: 7px;
}
