div {
    text-align: center;
}

.scrollbar {
    max-height: 100vh;
    overflow-y: auto;
}

.div-border {
    display: block;
    border: 2px solid white;
    padding: 10px;
    margin: 15px; /* Add margin for spacing between containers */

}

.div-border > h2 {
    text-decoration: underline;
}