<div class="scrollbar">
    <header style="margin-bottom: 50pt;">
        <app-navbar></app-navbar>
     </header>
    <div class="div-border">
        <h2>Vinyl Records</h2>
        <p>Description goes here</p>
        <img src="../../assets/vinyl.jpg" alt="vinyl-record" style="height: 200pt; width: 200pt;">
    </div>
    <div class="div-border">
        <h2>Cooking & Baking</h2>
        <p>Description Goes here </p>
        <img src="../../assets/cookingandbaking.jpg" alt="cook-bake" style="height: 200pt; width: 200pt;">
    </div>
    <div class="div-border">
        <h2>Basketball</h2>
        <p>Description Goes here</p>
        <img src="../../assets/Bulls.png" alt="basketball-pic" style="height: 200pt; width: 200pt;">
    </div>
</div>
