<div class="scrollbar">
    <header style="margin-bottom: 50pt;">
        <app-navbar></app-navbar>
     </header>
    <div class="div-border">
        <h2>Vinyl Records</h2>
        <p>Listining to music is probably the hobby I most enjoy.  I was raised on older music and have continued to expand my listening
           in that realm of music, as well as, a little bit of more modern music thrown in.  My favorite bands to listen to are:
           Genesis, ABC, Howard Jones, Lakeside, Earth,Wind, and Fire, Kool & the Gang amongst, many others. In the my love of older
           music, I collect vinyl records and have about 68-70 right now.
        </p>
        <img src="../../assets/vinyl.jpg" alt="vinyl-record" style="height: 200pt; width: 200pt;">
    </div>
    <div class="div-border">
        <h2>Cooking & Baking</h2>
        <p>Another, slightly more occassional hobby these days, I enjoy is cooking and baking.  Growing up, I'd bake and cook-bake
           with my mother and grandmother and that passion has stuck with me.  I can cook a decent amount of different types of food,
           but my favorite to cook is Asian inspired food, with Latin & Mexican dishes being a close second.  Baking being very similar,
           though the family does enjoy when I make blueberry pie.
        </p>
        <img src="../../assets/cookingandbaking.jpg" alt="cook-bake" style="height: 200pt; width: 200pt;">
    </div>
    <div class="div-border">
        <h2>Basketball</h2>
        <p>Whenever I need to get some exercise in, basketball is my usual go to.  I typically just practice shooting the basketball,
            but I do enjoy a pickup game with friends or whoever is at the courts.  I got into basketball in 2011 when, I watched
           Derrick Rose on the Chicago Bulls and have stuck with the sport ever since.  My favorite team of course being the Chicago
           Bulls.  My favorite players include, Derrick Rose, Kobe Bryant, of course MJ, David Robinson, etc with my favoirte of all time
           being Vince Carter.  
        </p>
        <img src="../../assets/Bulls.png" alt="basketball-pic" style="height: 200pt; width: 200pt;">
    </div>
</div>
