
<div class="scrollbar">
   <header>
      <app-navbar></app-navbar>
   </header>
  
 <div class="resume-header">
   <h1>Resume</h1>
   <a href="https://www.linkedin.com/in/stephen-sams-ba9700238/">https://www.linkedin.com/in/stephen-sams-ba9700238/</a><br>
   <a href="https://github.com/ssams01">https://github.com/ssams01</a> | <a>stephen&commat;stephensams.com </a> | <a>(123)-456-7890</a>
 </div>
 <div class="resume-body">
   <h3>OBJECTIVE</h3>
     <p>To obtain a position in the field of software development where I can utilize and grow my 
        current skills while at the same time helping any team I join achieve their goals. </p>
   <h3>SKILLS</h3>
     <ol>
       <li>Experience with: C#, .NET, SQL (T-SQL, DB2), Angular, Typescript </li>
       <li>Exposure to: Java, Python, C, C++, HTML/CSS, Bootstrap, Agile, Azure (Azure SQL 
           Database, Azure App Service), JavaScript </li>
     </ol>
   <h3>EDUCATION</h3>
   <p style="float: left;">CLEMSON UNIVERSITY<br>Bachelor of Science in Computer Computer Information Systems; GPA 3.5</p>  
   <p style="float: right; ">Clemson,SC<br>May 2023</p>
   <br><br><br>
   <h3>PROJECTS</h3>
   <ol>
      <li>Lit - Contributed to a project utilizing an Angular Frontend with an ASP.NET Backend 
          that built off a pre-existing Book API project. EF Core was used to communicate with a 
          database hosted on Azure.</li>
      <li>Fantasy Travel API - Contributed to a C# console app and ASP.NET Web API that 
          simulates a travel app for fantasy locations from example Star Wars.  ADO.NET was 
          utilized to communicate with a database hosted on Azure and the National Weather 
          Service’s API was utilized to provide dynamically retrieve temperatures to be used in the 
          locations.</li>
   </ol>
   <h3>EMPLOYMENT HISTORY</h3>
   <ol>
      <li>
        <p style="float: left;">Revature, Florida - Remote<br>.NET Fullstack Associate</p>         
        <p style="float: right">February 2024 - April 2024</p>
        <br><br>
        <ol>
         <li>
          trained in technologies such as C# (including ADO.NET, ASP.NET, EF Core), 
          Angular, and T-SQL 
         </li>
         <li>
          The skills taught were applied to 3 projects, two of which were team based, the 
          first a smaller team (4 people) and then the second a larger team (8 people). 
         </li>
        </ol>
      </li>
      <li>
        <p style="float: left;">Chipotle Mexican Grill, South Carolina & Florida<br>Crew Member</p>         
        <p style="float: right">January 2018 - February 2024</p>
        <br><br>
      </li>
      <li>
        <p style="float: left;">Food Lion, Irmo, South Carolina<br>Quality Assurance Associate</p>         
        <p style="float: right">June 2017 - January 2018</p>
        <br><br>
      </li>
   </ol>
   <h3>ACADEMIC HONORS</h3>
   <ol>
      <li>Presidents List – Spring 2021, Fall 2022 </li>
      <li>Deans List – Fall 2019, Spring 2020, Spring 2023 </li>
   </ol>
 </div>
</div>