
.scrollbar {
    max-height: 100vh;
    overflow-y: auto;
}

.resume-header {
  text-align: center;
  border-bottom: 1px solid white;
}

.resume-header > a {
  color: white;
}

.job-info {
  display: flex;
  justify-content: space-between;
}

.job-info p {
  margin: 0; /* Remove default paragraph margin */
}


.resume-body {
   margin-left: 300px;
   max-width: 1000px;
}