
<!-- <div class="scrollbar">

</div> -->
<header>
    <app-navbar></app-navbar>
 </header>

<h1>Resume</h1>
<a>https://www.linkedin.com/in/stephen-sams-ba9700238/</a>
<a>https://github.com/ssams01 <a>stephen&commat;stephensams.com</a> <a>123-456-7890</a></a>
<p>This page will probably be mostly just a collection of ol and li's and then for each section of the Resume
   it might be h2 or h3's as the headers, now looking at Patricks on his website wouldn't be the worst, but I think
   there should be a way to copy how things look exactly from the pdf resume :)
</p>
